/* ====================================
 START
=====================================*/
nav{
	background-color: black;
	position: sticky;
	top: 0;
	z-index: 1;
}
.nav-itm{
	padding: 12px 24px;
}
.nav-lnk{
	color: white;
}


/* ====================================
 END
=====================================*/
/* ====================================
 START
=====================================*/
.the-Band{
	width: 57%;
	margin: 0 auto;
	padding: 73px 0;
}
.aboutDetails{
	text-align: center;
}
.title{
	font-size: 30px;
	letter-spacing: 4px;
}
.wlm{
	color: lightgray;
}


/* ====================================
 END
=====================================*/

/* ====================================
 START
=====================================*/



/* ====================================
 END
=====================================*/

/* ====================================
 START
=====================================*/



/* ====================================
 END
=====================================*/

/* ====================================
 START
=====================================*/



/* ====================================
 END
=====================================*/



















/* ====================================
MEDIA START
=====================================*/

@media screen and (max-width: 1440px) {
	
}
/* ====================================
MEDIA END
=====================================*/