.threeLine{
  float: right;
}
.nav-item{
  padding: 0 10px;
}
.sndPrt{
    padding-top: 100px;
    padding-bottom: 50px;
}
.colWl{
    padding-top: 20px;
}
.textLight{
    color: gray;
}
.blueClr{
    color: blue;
}
.buy_now{
    float: right;
}
.landings{
    color: blue;
}
.footerOne{
    background-image: linear-gradient(#8700FF, #9E00FF);
    color: white;
    padding-top: 40px;
}
.footImg{
    float: right;
}


@media screen and (max-width: 720px) {
  
}
@media screen and (max-width: 560px) {
    .imageLg{
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
   
}